
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, .font-xxx {
    font-size: xxx-large;
}

h3, p {
    font-size: xx-large;
}

li, label, input {
    font-size: x-large;
}

label, textarea {
    font-size: x-large;
    margin-top: 5%;
}

input, textarea {
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid gray;
}

/*-----------------------------------------General Class-----------------------------------------------*/
.d-flex {
    display: flex;
}

.flex-start {
    justify-content: flex-start;
}

.space-around {
    justify-content: space-around;
}

/*-----------------------------------------justify-content -----------------------------------------------*/
.just-between {
    justify-content: space-between;
}

.just-center {
    justify-content: center;
}

.just-evenly {
    justify-content: space-evenly;
}

.flex-start {
    justify-content: flex-start;
}

/**/
.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/**/
.text-center {
    text-align: center;
}

.a-item {
    align-items: center;
}

/**/
.w100 {
    width: 100%;
}

.w-15 {
    width: 15%;
}

/*-----------------------------------------padding -----------------------------------------------*/

.padding-1 {
    padding: 1% 2%;
}

.padding-2 {
    padding: 2%;
}

.padding-3 {
    padding: 3%;
}

/*-----------------------------------------border -----------------------------------------------*/

.radius-15 {
    border-radius: 15%;
}

.radius-10 {
    border-radius: 10%;
}

/*-----------------------------------------font size -----------------------------------------------*/

.font-size-x {
    font-size: x-large;
}

/*-----------------------------------------color -----------------------------------------------*/

.bg-body {
    background-color: #1ABC9C;
}

.bg-gray {
    background-color: #1A252F;
}

.color-gray {
    color: #6C758E;
}

.bg {
    background-color: rgb(252, 212, 190);
}

.color-orange {
    background-color: rgb(245, 222, 179);
}

.color-black {
    color: #2C3E50;
}

/*-----------------------------------------margin -----------------------------------------------*/
.margin-bottom-5 {
    margin-bottom: 5%;
}

.m-3 {
    margin-top: 3%;
    margin-bottom: 3%;
}

.m-right-left-5 {
    margin: auto 5%;
}

.m-top-bottom-3 {
    margin: 3% auto;
}

.m-auto {
    margin: auto;
}

.input-with-m {
    margin: 1.5% auto;
}

.h-max {
    height: max-content;
}

.padding-top-3 {
    padding-top: 3%;
}

/*-----------------------------------------Selector Class-----------------------------------------------*/
/*Navbar*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

header ul, .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li, footer li {
    float: left;
}

header li a, footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}

section {
    padding: 10%;
    align-items: center;
}

section img {
    height: 170px;
    width: 260px;
}

input, textarea {
    width: 640px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid gray;
    background-color: rgb(252, 212, 190);
}

footer ul {
    justify-content: center;
    display: flex;
}

/*----------------------------------------------------------------------------------------*/
li a:hover {
    background-color: #111;
}

/*-----------------------------------------Specific Class-----------------------------------------------*/
.hero {
    background-image: url("../img/school.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
}

.texthero {
    color: darkorange;
    font-family: cursive;
    text-align: -webkit-right;
    /*
    FONT-SIZE: xxx-large;
    */
    height: max-content;
    width: max-content;
    padding: 15%;
}

.box {
    width: 30%;
    margin: 1%;
    padding: 3%;
    background: white;
    border-radius: 5%;
}

.card {
    width: 30%;
}

.plan {
    width: fit-content;
    height: fit-content;
    padding: 3% 3% 3% 3%;
    background-color: rgb(245, 222, 179);
    border-radius: 2%;
    justify-content: space-around;
    align-items: center;
}

.price {
    width: fit-content;
    height: fit-content;
    border-radius: 2%;
    padding: 2% 2% 2% 2%;
    background-color: rgb(253, 233, 140);
    border: rgb(255, 215, 0) 2px solid;
}

.list {
    list-style-position: inside;
    margin-left: 25%;
    font-size: larger;
}

#About {
    padding: 15%;
}

.footer {
    background: #333
}

/*-----------------------------------------transition-----------------------------------------------*/

input, button, textarea {
    transition: transform 0.3s;
}

#Plans img:hover, input:hover, button:hover, textarea:hover {
    transform: scale(1.1);
}

/*-----------------------------------------Media query-----------------------------------------------*/
@media screen and (max-width: 1100px) {
    .box {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .plan-card {
        width: 100%;
        text-align: center;
    }

}
